.calculator {
  display: grid;
  grid-template-areas: 'input input input input';
  /* grid-template-columns: repeat(3, 1fr); */
  border: 5px solid white;
  border-radius: 30px;
  overflow: hidden;
}

button {
  box-shadow: none;
  height: 100px;
  aspect-ratio: 1;
  font-size: x-large;
  border-radius: 0;
  font-weight: 500;
  border: 1px solid black;
}

button:active,
button:focus-visible {
  /* border: none; */
  box-shadow: none;
  outline: none;
  background-color: aqua;
}

.input {
  width: 380px;
  grid-area: input;
  padding: 5px 10px;
  font-size: 65px;
  font-weight: 100;
  border: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: right;
}

.input:active,
.input:focus-visible {
  /* bo rder: none; */
  box-shadow: none;
  outline: none;
}

.zero {
  grid-column: 1 / 3;
  width: 100%;
}

.orange {
  background-color: orange;
}
